<body>
    <div class="wrapper">
      <div class="single-card">
        <div class="img-area">
          <img src="assets/images/batman.jpg" alt="">
        </div>
        <div class="info">
          <h3>Batman Arkham Knight</h3>
          <p class="price">S/20.00</p>
          <h6>Batman: Arkham Knight es un videojuego de acción-aventura de mundo abierto desarrollado por Rocksteady Studios y publicado por Warner Bros. Interactive Entertainment</h6>
          <h5>Año:2014</h5>
          <h5>Genero: Accion</h5>
        </div>
      </div>
    
      <div class="single-card">
        <div class="img-area">
          <img src="assets/images/dbz.jpg" alt="">
        </div>
        <div class="info">
          <h3>DBZ Sparking Zero</h3>
          <p class="price">S/200.00</p>
          <h6>Dragon Ball: Sparking! Zero toma la legendaria jugabilidad de la serie Budokai Tenkaichi y la lleva a un nivel superior.  Incluye una cantidad increíble de personajes con los que puedes jugar, cada uno con sus habilidades, transformaciones y técnicas características.</h6>
          <h5>Año: 2024</h5>
          <h5>Genero: Anime</h5>
        </div>
      </div>
    
      <div class="single-card">
        <div class="img-area">
          <img src="assets/images/forest.jpg" alt="">
        </div>
        <div class="info">
          <h3>The Forest</h3>
          <p class="price">S/30.00</p>
          <h6>El juego es de tipo mundo abierto, donde hay diversas misiones, las cuales no cambian la línea principal del juego. El objetivo que tiene el jugador es sobrevivir y rescatar a su hijo desaparecido, después de que el avión en el que viajaban se estrellara en una isla llena de nativos mutantes y caníbales.          </h6>
          <h5>Año: 2009</h5>
          <h5>Genero: Suspenso</h5>
        </div>
      </div>
      <div class="single-card">
        <div class="img-area">
          <img src="assets/images/godofwar.jpg" alt="">
        </div>
        <div class="info">
          <h3>God of war</h3>
          <p class="price">S/55.00</p>
          <h6>Se basa en las aventuras de un semidiós espartano, Kratos, quien se enfrenta a diversos personajes de la mitología griega y nórdica, tanto héroes (Heracles, Teseo, Perseo, etc.) como especies mitológicas (gorgonas, arpías, minotauros), dioses griegos (Ares, Poseidón, Zeus, entre otros), titanes (como Cronos) y dioses primordiales (como Gaia).</h6>
          <h5>Año: 2009</h5>
          <h5>Genero: Ciencia y ficcion</h5>
        </div>
      </div>
      <div class="single-card">
        <div class="img-area">
          <img src="assets/images/halflife2.jpg" alt="">
        </div>
        <div class="info">
          <h3>Half life 2</h3>
          <p class="price">S/8.00</p>
          <h6>Half-Life 2 es la continuación del videojuego Half-Life, una videoaventura de disparos en primera persona. Anteriormente el videojuego se vendía junto a Counter-Strike: Source la secuela de Counter-Strike con el nuevo motor gráfico y el motor físico implantados y los niveles totalmente rediseñados</h6>
          <h5>Año: 2004</h5>
          <h5>Genero: Accion</h5>
        </div>
      </div>
      <div class="single-card">
        <div class="img-area">
          <img src="assets/images/Left4Dead2.jpg" alt="">
        </div>
        <div class="info">
          <h3>Left 4 Dead 2</h3>
          <p class="price">S/24.00</p>
          <h6>Left 4 Dead (abreviado como L4D) es un videojuego cooperativo multijugador de disparos en primera persona de acción y terror. Fue desarrollado por Valve Corporation.
        </h6>
          <h5>Año: 2009</h5>
          <h5>Genero: Terror</h5>
        </div>
      </div>
      <div class="single-card">
        <div class="img-area">
          <img src="assets/images/outlast.jpg" alt="">
        </div>
        <div class="info">
          <h3>Outlast</h3>
          <p class="price">S/35.00</p>
          <h6>Outlast es un videojuego de terror y supervivencia en primera persona desarrollado por Red Barrels. El juego gira en torno a un periodista de investigación independiente, Miles Upshur, que decide investigar un remoto hospital psiquiátrico llamado Mount Massive Asylum, ubicado en lo profundo de las montañas del condado de Lake, Colorado.
        </h6>
          <h5>Año: 2013</h5>
          <h5>Genero: Terror y suspenso</h5>
        </div>
      </div>
      <div class="single-card">
        <div class="img-area">
          <img src="assets/images/portal2.jpg" alt="">
        </div>
        <div class="info">
          <h3>Portal 2</h3>
          <p class="price">S/10.00
          <h6>Portal 2 es el segundo videojuego mezcla de videojuego de lógica y de disparos en primera persona, de la saga Portal. Fue desarrollado por Valve Corporation.
        </h6>
          <h5>Año: 2011</h5>
          <h5>Genero: Ficcion</h5>
        </div>
      </div>
      <div class="single-card">
        <div class="img-area">
          <img src="assets/images/subnautica.jpg" alt="">
        </div>
        <div class="info">
          <h3>Subnautica</h3>
          <p class="price">S/55.00</p>
          <h6>Subnautica es un juego de acción-aventura y supervivencia desarrollado y publicado por Unknown Worlds Entertainment. Permite al jugador explorar libremente un planeta oceánico alienígena, conocido como 4546B, recolectando recursos para sobrevivir, desarrollando una historia a lo largo del juego.
        </h6>
          <h5>Año: 2022</h5>
          <h5>Genero: Suspenso y aventura</h5>
        </div>
      </div>
      <div class="single-card">
        <div class="img-area">
          <img src="assets/images/alien.jpg" alt="">
        </div>
        <div class="info">
          <h3>Alien Isolation</h3>
          <p class="price">S/130.00</p>
          <h6>Un grupo de colonos espaciales se enfrenta a la criatura más aterradora del universo en una nave espacial abandonada a la que han accedido para recuperar cámaras de criostasis, con las que piensan huir a un planeta lejano.
        </h6>
          <h5>Año: 2014</h5>
          <h5>Genero: Terror y suspenso</h5>
        </div>
      </div>
    </div>
  </body>


  <footer>
    <div class="footer-container">
        <div class="footer-logo">
            <h2>Tienda de Videojuegos</h2>
        </div>

        <div class="footer-section">
            <h4>LO BÁSICO</h4>
            <ul>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Foros de ayuda</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Estado del sistema</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>PARTICIPA</h4>
            <ul>
                <li><a href="#">Guía de aportaciones</a></li>
                <li><a href="#">Añadir reseña</a></li>
                <li><a href="#">Añadir opinion</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>COMUNIDAD</h4>
            <ul>
                <li><a href="#">Directrices</a></li>
                <li><a href="#">Debates</a></li>
                <li><a href="#">Tabla de clasificación</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>LEGAL</h4>
            <ul>
                <li><a href="#">Términos de uso</a></li>
                <li><a href="#">Términos de uso de la API</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Política DMCA</a></li>
            </ul>
        </div>

        <div class="footer-community">
            <a href="#" class="join-community-btn">ÚNETE A NUESTRO DISCORD</a>
        </div>
    </div>
</footer>