body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.movie-container2 {
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    max-width: 100%;
    width: fit-content; /* Ajusta el ancho al contenido */
    margin: 0 auto; /* Centra el div horizontalmente */
}

.movie-container {
    display: flex;
    justify-content: center; /* Asegura que las películas estén centradas */
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    max-width: 100%; /* Evita que el contenedor se extienda más allá de la pantalla */
}

.movie-card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}

.movie-card h3 {
    font-size: 1em;
    margin: 10px 0;
}

.movie-card .rating {
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
}

.movie-card p {
    font-size: 0.9em;
    color: gray;
}

footer {
    background-color: #fd2828;
    color: white;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-logo h2 {
    font-size: 24px;
    color: #000000;
}

.footer-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-community {
    display: flex;
    align-items: center;
}

.join-community-btn {
    background-color: white;
    color: #032541;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.join-community-btn:hover {
    background-color: #880000;
    color: white;
    transition: 500ms;
}