<div class="movie-container2">
<img src="assets/images/fondo.jpg" class="imagenprincipal">
<h1>Te damos la bienvenida</h1>
<h1>Cientos de videjuegos para adquirir hoy en dia.</h1>
<h3>Lo mas destacado de hoy</h3>
</div>
<div class="movie-container">
    <div class="movie-card">
        <img src="assets/images/alien.jpg" alt="Bitelchús Bitelchús">
        <h3>Alien: Isolation</h3>
        <div class="rating">91%</div>
        <p>2014</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/batman.jpg" alt="Invasión, insurrección">
        <h3>Batman Arkham Night</h3>
        <div class="rating">88%</div>
        <p>2021</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/dbz.jpg" alt="Invasión, insurrección">
        <h3>Dragon Ball: Sparking Zero</h3>
        <div class="rating">95%</div>
        <p>2024</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/forest.jpg" alt="Invasión, insurrección">
        <h3>The Forest</h3>
        <div class="rating">99%</div>
        <p>2012</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/godofwar.jpg" alt="Invasión, insurrección">
        <h3>God of War</h3>
        <div class="rating">98%</div>
        <p>2010</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/halflife2.jpg" alt="Invasión, insurrección">
        <h3>Half Life 2</h3>
        <div class="rating">79%</div>
        <p>2009</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/Left4Dead2.jpg" alt="Invasión, insurrección">
        <h3>Left 4 Dead 2</h3>
        <div class="rating">100%</div>
        <p>2009</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/outlast.jpg" alt="Invasión, insurrección">
        <h3>Outlast</h3>
        <div class="rating">96%</div>
        <p>2013</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/portal2.jpg" alt="Invasión, insurrección">
        <h3>Portal 2</h3>
        <div class="rating">70%</div>
        <p>2010</p>
    </div>
</div>
<h3>Recomendados</h3>
<div class="movie-container">
    <div class="movie-card">
        <img src="assets/images/alien.jpg" alt="Bitelchús Bitelchús">
        <h3>Alien: Isolation</h3>
        <div class="rating">91%</div>
        <p>2014</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/batman.jpg" alt="Invasión, insurrección">
        <h3>Batman Arkham Night</h3>
        <div class="rating">88%</div>
        <p>2021</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/dbz.jpg" alt="Invasión, insurrección">
        <h3>Dragon Ball: Sparking Zero</h3>
        <div class="rating">95%</div>
        <p>2024</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/forest.jpg" alt="Invasión, insurrección">
        <h3>The Forest</h3>
        <div class="rating">99%</div>
        <p>2012</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/godofwar.jpg" alt="Invasión, insurrección">
        <h3>God of War</h3>
        <div class="rating">98%</div>
        <p>2010</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/halflife2.jpg" alt="Invasión, insurrección">
        <h3>Half Life 2</h3>
        <div class="rating">79%</div>
        <p>2009</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/Left4Dead2.jpg" alt="Invasión, insurrección">
        <h3>Left 4 Dead 2</h3>
        <div class="rating">100%</div>
        <p>2009</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/outlast.jpg" alt="Invasión, insurrección">
        <h3>Outlast</h3>
        <div class="rating">96%</div>
        <p>2013</p>
    </div>
    <div class="movie-card">
        <img src="assets/images/portal2.jpg" alt="Invasión, insurrección">
        <h3>Portal 2</h3>
        <div class="rating">70%</div>
        <p>2010</p>
    </div>
</div>
<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <h2>Tienda de Videojuegos</h2>
        </div>

        <div class="footer-section">
            <h4>LO BÁSICO</h4>
            <ul>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Foros de ayuda</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Estado del sistema</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>PARTICIPA</h4>
            <ul>
                <li><a href="#">Guía de aportaciones</a></li>
                <li><a href="#">Añadir reseña</a></li>
                <li><a href="#">Añadir opinion</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>COMUNIDAD</h4>
            <ul>
                <li><a href="#">Directrices</a></li>
                <li><a href="#">Debates</a></li>
                <li><a href="#">Tabla de clasificación</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>LEGAL</h4>
            <ul>
                <li><a href="#">Términos de uso</a></li>
                <li><a href="#">Términos de uso de la API</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Política DMCA</a></li>
            </ul>
        </div>

        <div class="footer-community">
            <a href="#" class="join-community-btn">ÚNETE A NUESTRO DISCORD</a>
        </div>
    </div>
</footer>