<h1>Imagenes</h1>
<body>
<div class="box">
    <div class="imgBx">
        <img src="assets/images/alien.jpg" alt="">
    </div>
    <div class="content">
    </div>
</div>
<div class="box">
    <div class="imgBx">
        <img src="assets/images/batman.jpg" alt="">
    </div>
    <div class="content">
    </div>
</div>
<div class="box">
    <div class="imgBx">
        <img src="assets/images/dbz.jpg" alt="">
    </div>
    <div class="content">
    </div>
</div>
<div class="box">
    <div class="imgBx">
        <img src="assets/images/forest.jpg" alt="">
    </div>
    <div class="content">
    </div>
</div>
<div class="box">
    <div class="imgBx">
        <img src="assets/images/outlast.jpg" alt="">
    </div>
    <div class="content">
    </div>
</div>
</body>

<script>
  var canvas = document.getElementById("glslCanvas");
  var sandbox = new GlslCanvas(canvas);

  setTimeout(function(){
    canvas.classList.add('show');
  }, 100);
</script>

<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <h2>Tienda de Videojuegos</h2>
        </div>

        <div class="footer-section">
            <h4>LO BÁSICO</h4>
            <ul>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Foros de ayuda</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Estado del sistema</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>PARTICIPA</h4>
            <ul>
                <li><a href="#">Guía de aportaciones</a></li>
                <li><a href="#">Añadir reseña</a></li>
                <li><a href="#">Añadir opinion</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>COMUNIDAD</h4>
            <ul>
                <li><a href="#">Directrices</a></li>
                <li><a href="#">Debates</a></li>
                <li><a href="#">Tabla de clasificación</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>LEGAL</h4>
            <ul>
                <li><a href="#">Términos de uso</a></li>
                <li><a href="#">Términos de uso de la API</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Política DMCA</a></li>
            </ul>
        </div>

        <div class="footer-community">
            <a href="#" class="join-community-btn">ÚNETE A NUESTRO DISCORD</a>
        </div>
    </div>
</footer>